.main{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: none;
}
.main>h2{
    color: #EEE5FF;
    margin: 10px 0px 0px 0px;
    font-family: "Sora", Sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    width: 55%;
    background: none;
}

.container{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part{
    width: 40%;
    border-radius: 20px 20px 20px 20px;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF10;
    /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
    margin: 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px;
    border-style: solid;
    text-align: left;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    box-sizing: border-box;
}
.part>h2{
        color: #EEE5FF;
        margin: 0px 0px 10px 0px;
        font-family: "Sora", Sans-serif;
        font-size: 25px;
        font-weight: 500;
        line-height: 45px;
        background: none;
}
.part>p{
        color: #EEE5FFBD;
            font-family: "Outfit", Sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            margin: 0px 0px 0px 0px;
            background: none;
}
.part>img{
        height: auto;
        border: none;
        border-radius: 0;
        box-shadow: none;
        max-width: 100%;
        margin-top: 20px;
        background: none;
 }

@media screen and (max-width:1366px) {
    .main>h2{
        font-size: 35px;
        line-height: 55px;
    }
    .main{
        margin: 5% 5% 0% 5%;
    }
}

@media screen and (max-width:1180px) {
    /* .main {
        margin-top:40px ;
    } */
}

@media screen and (max-width: 767px) {
     .container{
        flex-direction: column;
        align-items: center;
        flex-direction: column;
     }
     .part{
        width: 100%;
        margin: 10px;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
     }
}